.container{
	background-color: #A5ACAF;
}

img {
    float: right;
    border-radius: 30%;
    
}

#header{
	clear:left;
}

a:link    {color:#002244; background-color:transparent; text-decoration:none}
a:visited {color:#2FA239; background-color:transparent; text-decoration:none}
a:hover   {color:aliceblue; background-color:transparent; text-decoration:underline}
a:active  {color:yellow; background-color:transparent; text-decoration:underline}

#jumbotron_id{
	background-color: #002244;
	color: #69BE28;
	
}

.row{
	padding-left: 30px;
}
.row> h2{
 color:#002244;
}

.container{
	padding-left: 0px;
	padding-right: 0px;
}

dt{
font-size: 20px;
color:#002244;
}

dd{
	margin-bottom: 20px;
	color:#002244;
}

#project_section{
	border-bottom: 3px solid #002244 ;
	margin: 0 10px 0px 10px;
}